<section id="about" class="section">
  <h2 class="section-title">Sobre</h2>
  <div class="about-section">
    <div class="about-text">
      <p>
        Com 14 anos de experiência em TI, minha carreira é marcada pela capacidade de gerar
        resultados e impulsionar a transformação. Fiz a transição de um desenvolvedor com um
        background técnico sólido em arquitetura, front-end e APIs REST em Nuvem para um líder
        focado na coordenação ágil de times de alta performance. Minha expertise me permite guiar
        equipes com precisão, criando soluções que não só funcionam, mas que também melhoram a vida
        do usuário.
      </p>
      <p>
        Meu trabalho se concentra em otimizar e alinhar. Uso metodologias e frameworks ágeis como
        ferramentas para desfragmentar o processo de desenvolvimento, garantindo que
        desenvolvedores, QAs, SREs e a governança trabalhem em sintonia. A minha meta é simplificar
        a complexidade, permitindo que as equipes se concentrem no que realmente importa: a entrega
        de valor contínuo e de alta qualidade.
      </p>
      <p>
        A cultura da equipe é um pilar para o sucesso. Por isso, me dediquei à criação de guildas,
        chapters e outras estruturas ágeis para aprimorar a integração e a transferência de
        conhecimento. Essa iniciativa foi crucial para aprimorar a sinergia entre as equipes e
        garantir que as pessoas certas, com habilidades equivalentes, estivessem no lugar certo,
        gerando um ambiente de alta performance.
      </p>
      <p>
        Nesta página, você encontrará a prova do meu trabalho. Selecionei 10 projetos que demonstram
        minha jornada completa: da concepção à entrega e sustentação. Em cada um deles, tive a
        oportunidade de liderar como coordenador e Agile Master, mas também de atuar no
        desenvolvimento, na criação de observabilidade e na documentação, mostrando um compromisso
        com o resultado em todas as suas fases.
      </p>
    </div>
    <div class="about-photo">
      <img src="assets/wesley.jpg" alt="Foto de Wesley Gomes" />
    </div>
  </div>
  <div class="about-readme" style="margin-top: 2rem">
    <h3>Plano de evolução de prática (readMe)</h3>
    <p>
      Para ter uma visão da futura arquitetura de referência atual e dos planos de evolução deste
      portfólio, confira o documento técnico. Ele detalha a transição para um ecossistema com
      frontend em Angular modular e backend com arquitetura em nuvem de forma que possa praticar o
      desenvolvimento de aplicações web.
    </p>
    <p>
      O objetivo deste projeto é mostrar o conhecimento técnico adquirido para utilizar como
      transferência de conhecimento para possíveis desenvolvedores juniores e QAs com propósito de
      produto direto no github separado por branchs evolutivas.
    </p>
    <div id="readme-container" class="readme-content">Carregando README...</div>
  </div>
  <h2 class="section-title">Documentos para Download</h2>
  <div
    style="text-align: center; display: flex; gap: 1rem; justify-content: center; flex-wrap: wrap"
  >
    <a href="assets/Wes_CartaApresentacaoWesleyCoord_IT.pdf" class="btn" download
      >Carta de Apresentação (PDF)</a
    >
    <a href="assets/Wes_CV_PT_Coord_IT_Desenv_Dados.pdf" class="btn" download>Currículo (PDF)</a>
  </div>
</section>
