<section id="about" class="section">
    <h2 class="section-title">Sobre</h2>
    <div class="about-section">
        <div class="about-text">
            <p>Olá! Sou Wesley Gomes, um profissional com mais de 14 anos de experiência em TI. Nos últimos 4 anos, tenho me dedicado à coordenação ágil de times de alta performance, uma transição de carreira que abracei após uma longa jornada no desenvolvimento.</p>
            <p>Com um sólido background em arquitetura e conhecimentos em front-end e API Rest em Nuvem, sou capaz de guiar equipes na criação de soluções robustas e intuitivas, sempre com foco na jornada do usuário.</p>
            <p>Utilizo ferramentas de interação dinâmica, metodologias e frameworks para facilitar a vida do Product Owner e garantir o alinhamento eficaz entre desenvolvedores, QAs, SREs e áreas de governança.</p>
            <p>Minha paixão é otimizar processos e guiar equipes na entrega de produtos de alta qualidade, mantendo o foco em tecnologias emergentes e em metodologias que impulsionam a inovação.</p>
        </div>
        <div class="about-photo">
            <img src="assets/wesley.jpg" alt="Foto de Wesley Gomes">
        </div>
    </div>
    <div class="about-readme" style="margin-top: 2rem;">
        <h3>Plano de evolução de prática (readMe)</h3>
        <p>Para ter uma visão da futura arquitetura de referência atual e dos planos de evolução deste portfólio, confira o documento técnico. Ele detalha a transição para um ecossistema com frontend em Angular modular e backend com arquitetura em nuvem de forma que possa praticar o desenvolvimento de aplicações web.</p>
        <p>O objetivo deste projeto é mostrar o conhecimento técnico adquirido para utilizar como transferência de conhecimento para possíveis desenvolvedores juniores e QAs com propósito de produto direto no github separado por branchs evolutivas.</p>
        <div id="readme-container" class="readme-content">Carregando README...</div>
    </div>
    <h2 class="section-title">Documentos para Download</h2>
    <div style="text-align: center; display: flex; gap: 1rem; justify-content: center; flex-wrap: wrap;">
        <a href="assets/Wes_CartaApresentacaoWesleyCoord_IT.pdf.pdf" class="btn" download>Carta de Apresentação (PDF)</a>
        <a href="assets/Wes_CV_PT_Coord_IT_Desenv_Dados.pdf.pdf" class="btn" download>Currículo (PDF)</a>
    </div>
</section>