<div class="tour-overlay" *ngIf="isTourActive" (click)="endTour()">
  <div class="tour-highlight-wrapper" (click)="$event.stopPropagation()">
    <div class="tour-highlight" [ngStyle]="highlightStyle"></div>
    <div #tooltipElement class="tour-tooltip" [ngStyle]="tooltipStyle" [class.is-above]="isTooltipAbove" [class.is-centered]="isTooltipCentered" [class.is-dragging]="isDragging">
      <div *ngIf="currentStepIndex >= 0">
        <div class="tour-tooltip-header" (mousedown)="onDragStart($event)">
          <h4>{{ steps[currentStepIndex].title }}</h4>
        </div>
        <div class="tour-tooltip-content">
          <p [innerHTML]="steps[currentStepIndex].content"></p>
          <div class="tour-navigation">
            <span class="tour-counter">{{ currentStepIndex + 1 }} / {{ steps.length }}</span>
            <button (click)="endTour()" class="tour-button tour-skip-button">Skip</button>
            <button (click)="prevStep()" [disabled]="currentStepIndex === 0" class="tour-button">Previous</button>
            <button (click)="nextStep()" class="tour-button">{{ currentStepIndex === steps.length - 1 ? 'Finish' : 'Next' }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>